{% extends 'investimentos/base.html' %}
{% block conteudo %}

<h1 class="text-center p-3">Detalhe do produto</h1>
<div class="container col-lg-6 col-lg-4 d-flex justify-content-center">
    <button class="btn btn-warning btn-sm"><a style="color: #fff;"href="{% url 'investimentos' %}">Voltar</a></button>
        <table class="table table-hover ">
        <thead>
            <tr>
                <th>Id</th>
                <th>Investimento</th>
                <th>Valor</th>
                <th>Data</th>
                <th>Pago</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{dados.id}}</td>
                <td>{{dados.investimento}}</td>
                <td>{{dados.valor}}</td>
                <td>{{dados.data}}</td>
                <td>{{dados.pago}}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}